<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPictureService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:81/PictureService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPictureService" contract="IPictureService"
                name="BasicHttpBinding_IPictureService" />
        </client>
    </system.serviceModel>
</configuration>